body {
    background-color: some-white;
    margin: 0;
    font-family: sans-serif;
}
.header_div{
    display: grid;
    grid-template-areas: 'grid1 . grid2';
    /* color */
    background-color: #004ce9;
    background-image: linear-gradient(0deg, #004ce9 0%, #80a5d0 100%);
}
h1 {
    grid-area: grid1;
    padding-left: 10px;
    color: white;
}
.menu_header {
    grid-area: grid2;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 10px;
    /* color */
    background-color: #004ce9;
    background-image: linear-gradient(0deg, #004ce9 0%, #80a5d0 100%);
}
.menu_header a {
    padding-right: 15px;
    color: white;
    text-decoration: none;
}

#descript {
font-weight: bold;
}

.menu_div {
    display: none;
    grid-area: grid3;
    width: 100%;
    /* color */
    background-color: #004ce9;
    background-image: linear-gradient(0deg, #004ce9 0%, #80a5d0 100%);
}
.extended_menu_div {
    display: none;
}
#a_extended {display: none;}


/* MAIN ELEMENTS */
.main_elements {
    display: grid;
    width: 100%;
    grid-template-areas: 
    "history";
}
.main_history {
    grid-area: history;
    display: flex;
    justify-content: center;
}


/* HISTORY */
table {
    border-collapse: collapse;
    width: 100%;
    margin-right: 5px;
    margin-left: 5px;
}
tr:nth-child(even) {
    background-color: #f5f5f59c;
}
td {
    width: 100%;
    border-radius: 10px;
}


#date_info {
    text-align: center;
    font-weight: bold;
}
#div_data {
    margin-bottom: 15px;
}

.datacard_container {
    display: grid;
    grid-template-areas: 'months charts';
}
#month_list {grid-area: months;}
.charts_div {
    grid-area: charts;
    display: grid;
    grid-template-areas: 
    'incomes' 
    'outflows';
}
#incomes_chart {grid-area: incomes;}
#outflows_chart {grid-area: outflows; margin: 30px;}

ul {list-style: none;}
li {margin-top: 10px; cursor: pointer;}
li:hover {
    color: rgb(173, 172, 172);
}


/* POPUP WINDOW */
.popup {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    margin: 0;
    /* COLOR BACKGROUND */
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.main_pop {
    display: grid;
    width: 30%;
    height: 40%;
    border-radius: 10px;
    color: white;
    /* color */
    background-color: #004ce9;
    background-image: linear-gradient(0deg, #004ce9 0%, #80a5d0 100%);
}
.pop_inputs {
    display: grid;
    margin: 15px;
}
.pop_button {
    margin-inline: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    cursor: pointer;
    /* color */
    color: white;
    background-color: #0017e9;
    background-image: linear-gradient(0deg, #0008e9 0%, #80a5d0 100%);
}
#pop_button_id:hover{
    /* color */
    color: white;
    background-color: #5086f4;
    background-image: linear-gradient(0deg, #588cf4 0%, #80a5d0 100%);
}


  
/* ---RESPONSIVE--- */
@media(max-width: 650px) {
    .header_div{
        grid-template-areas: 'grid1 . grid2 grid3';
}
    .menu_header {
        display: none;
    }
    h1 {
        font-size: 23px;
    }
    .menu_div {
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu_img{
        background-image: url(/static/css/img/open-menu.png);
        background-size: cover ;
        height: 50px;
        width: 50px;
    }
    .extended_main_div {
        display: none;
        position: absolute;
        width: 100%;
        height: 50%;
        justify-content: right;
        background-color: transparent;
        z-index: 2;
    }
    .menu_holder {
        display: grid;
        width: 65%;
        /* ANIMATION */
        animation-name: slider;
        animation-duration: 0.5s;
        /* COLOR */
        background-image: linear-gradient( 178.7deg,  rgba(126, 183, 253, 0.808) 5.6%, rgba(2, 72, 157, 0.795) 95.3% );
        border-bottom-left-radius: 10px;
    }
    
    .menu_holder .extended_menu_links {
        display: grid;        
        margin-inline: auto;
        margin-top: 10%;
        text-align: center;
    }
    #a_extended {
        display: block;
        color: white;
        text-decoration: none;
        font-weight: bold;
    }

    .main_elements {
        display: block;
    }

    .main_pop {
        width: 50%;
    }
    
}
  
  
@keyframes slider {
    from {
        transform: translateX(100%);
        opacity: 0.25;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes slidemenu {
    from {
        left: -100px;
    }
    to {
        left: 0px;
    }
}