body {
  margin: 0;
  font-family: sans-serif;
}
.main_body_container {
  display: grid;
  grid-template-areas: 
  'tables charts';
}
.header_div{
  display: grid;
  grid-template-areas: 'grid1 . grid2';
  /* color */
  background-color: #004ce9;
  background-image: linear-gradient(0deg, #004ce9 0%, #80a5d0 100%);
}
h1 {
  grid-area: grid1;
  padding-left: 10px;
  color: white;
}
.menu_header {
  grid-area: grid2;
  display: flex;
  justify-content: right;
  align-items: center;
  margin-right: 10px;
}
.menu_header a {
  padding-right: 15px;
  color: white;
  text-decoration: none;
}

.main_table {
  grid-area: tables;
  width: 100%;
  min-width: 200px;
  margin-top: 20px;
}
table {
  margin: auto;
}
th {
  font-size: 19px;
}
td {
  width: 150px;
  text-align: center;
}
tr:hover {
  background-color: whitesmoke;
  font-weight: bold;
}
.menu_div {
  display: none;
  grid-area: grid3;
  width: 100%;
  /* color */
  background-color: #004ce9;
  background-image: linear-gradient(0deg, #004ce9 0%, #80a5d0 100%);
}
.extended_menu_div {
  display: none;
}
#a_extended {display: none;}


.charts {
  grid-area: charts;
  width: 100%;
  margin-top: 20px;
}
#myChart {
  width:100%;
  max-width:600px;
  height: 300px;
}
.chart_area {
  grid-area: my_chart;
}
.status_maindiv {
  max-width:600px;
  grid-area: my_status;
  display: flex;
  justify-content: center;
}
.status_card {
  margin: 10px;
  display: grid;
  width: 100%;
  /* COLOR */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  
  grid-template-areas: 
  'p1'
  'p2'
  'p3';
  gap: 0;
}
.p1 {grid-area: p1; width: 100%; text-align: center; margin-top: 0; margin-bottom: 5px; font-size: 19px; font-weight: bold;}
.p2 {grid-area: p2; width: 100%; text-align: center; margin-top: 0; margin-bottom: 5px;}
.p3 {grid-area: p3; width: 100%; text-align: center; margin-top: 0; margin-bottom: 5px;}

/* ---RESPONSIVE--- */
@media(max-width: 650px) {
  body {
    background-image: none;
    background-color: white;
  }
  .header_div{
      grid-template-areas: 'grid1 . grid2 grid3';
  }
  .menu_header {
    display: none;
  }
  h1 {
    font-size: 23px;
  }
  .menu_div {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu_img{
  background-image: url(/static/css/img/open-menu.png);
  background-size: cover ;
  height: 50px;
  width: 50px;
  }
  .extended_main_div {
    display: none;
    position: absolute;
    width: 100%;
    height: 50%;
    justify-content: right;
    background-color: transparent;
    z-index: 2;
  }
  .menu_holder {
    display: grid;
    width: 65%;
    /* ANIMATION */
    animation-name: slider;
    animation-duration: 0.5s;
    /* COLOR */
    background-image: linear-gradient( 178.7deg,  rgba(126, 183, 253, 0.808) 5.6%, rgba(2, 72, 157, 0.795) 95.3% );
    border-bottom-left-radius: 10px;
  }
  
  .menu_holder .extended_menu_links {
      display: grid;       
      margin-inline: auto;
      margin-top: 10%;
      text-align: center;
  }
  #a_extended {
    display: block;
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  .main_body_container {
    grid-template-areas: 
    'tables' 
    'charts';
  }
  .charts {
    width: 100%;
    grid-template-areas: 
  'my_chart'
  'my_status';
  }
  #myChart {
    max-width: 100%;
    width: auto;
    height: auto;
    margin-top: 8px;
  }
}
  
  
@keyframes slider {
  from {
      transform: translateX(100%);
      opacity: 0.25;
  }
  to {
      transform: translateX(0%);
      opacity: 1;
  }
}