<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home_layout.css') }}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
  <title>Balance</title>
</head>

<header>
    <div class="header_div">
        <h1>Balance de caja</h1>
        <div class="menu_header">
            <a href="{{ url_for('income') }}">Ingresos</a>
            <a href="{{ url_for('bills') }}">Egresos</a>
            <a href="{{ url_for('logout') }}">Salir</a>
        </div>
        <div class="menu_div" id="my_img" onclick="menuClick()">
            <div class="menu_img">
            </div>
        </div>
    </div>
</header>  
  
<body>
    <!-- EXTENDED MENU -->
    <div class="extended_main_div" id="my_menu">
        <div class="menu_holder" id="my_holder">
            <div class="extended_menu_links">
                <a id="a_extended" href="{{ url_for('income') }}">Ingresos</a>
                <a id="a_extended" href="{{ url_for('bills') }}">Egresos</a>
                <a id="a_extended" href="{{ url_for('history') }}">Historial</a>
                <a id="a_extended" href="{{ url_for('logout') }}">Salir</a>
            </div>
        </div>
    </div>
    
    <div class="main_body_container">
        <div class="main_table">
            <table>
                <tr>
                    <th>Descripcion</th>
                    <th>Cantidad</th>
                <tr>
                <tbody>
                    <tr>
                        <td id="descript">Diezmo</td>
                        {% if element[0]|length < 2 %}
                            <td>-</td>
                        {% else %}
                            <td style="color: green;">{{ element[0] }}</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td id="descript">Despensa</td>
                        {% if element[1]|length < 2 %}
                            <td>-</td>
                        {% else %}
                            <td style="color: green;">{{ element[1] }}</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td id="descript">Salud</td>
                        {% if element[2]|length < 2 %}
                            <td>-</td>
                        {% else %}
                            <td style="color: green;">{{ element[2] }}</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td id="descript">Transporte</td>
                        {% if element[3]|length < 2 %}
                            <td>-</td>
                        {% else %}
                            <td style="color: green;">{{ element[3] }}</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td id="descript">Internet</td>
                        {% if element[4]|length < 2 %}
                            <td>-</td>
                        {% else %}
                            <td style="color: green;">{{ element[4] }}</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td id="descript">Luz</td>
                        {% if element[5]|length < 2 %}
                            <td>-</td>
                        {% else %}
                            <td style="color: green;">{{ element[5] }}</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td id="descript">Agua</td>
                        {% if element[6]|length < 2 %}
                            <td>-</td>
                        {% else %}
                            <td style="color: green;">{{ element[6] }}</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td id="descript">Gas</td>
                        {% if element[7]|length < 2 %}
                            <td>-</td>
                        {% else %}
                            <td style="color: green;">{{ element[7] }}</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td id="descript">Dentista</td>
                        {% if element[8]|length < 2 %}
                            <td>-</td>
                        {% else %}
                            <td style="color: green;">{{ element[8] }}</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td id="descript">Saldo</td>
                        {% if element[9]|length < 2 %}
                            <td>-</td>
                        {% else %}
                            <td style="color: green;">{{ element[9] }}</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td id="descript">Gasolina</td>
                        {% if element[10]|length < 2 %}
                            <td>-</td>
                        {% else %}
                            <td style="color: green;">{{ element[10] }}</td>
                        {%endif%}
                    </tr>
                    <tr>
                        <td id="descript">Renta</td>
                        {% if element[11]|length < 2 %}
                            <td>-</td>
                        {% else %}
                            <td style="color: green;">{{ element[11] }}</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td style="font-weight: bold; font-size: 20px;">Total</td>
                        <td style="font-weight: bold; font-size: 20px;">$ {{ total }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="charts">
            <div class="status_maindiv">
                <div class="status_card">
                    <p class="p1">Estado</p>
                    <p class="p2">Acumulado: <span style="color: green;">...</span> / Restante: <span>...</span></p>
                    <p class="p3">Ultimo ingreso registrado: <span>...</span></p>
                </div>
            </div>
            <div class="chart_area">
                <canvas id="myChart" ></canvas>
            </div>
        </div>
    </div>

    <script>
        var xValues = ["Ingresos", "Meta"];
        var yValues = [{{ ca[0] }}, {{ ca[1] }}];
        var barColors = [
          "#004ce9",
          "rgba(0, 0, 0, 0.11)"
        ];
        
        new Chart("myChart", {
          type: "doughnut",
          data: {
            labels: xValues,
            datasets: [{
              backgroundColor: barColors,
              data: yValues
            }]
          },
          options: {
            title: {
              display: true,
              text: "Objetivo mensual"
            },
            legend: {
                display: false
            }
          }
        });
        </script>
    
    
    <script>
        function menuClick() {
            var x = document.getElementById("my_menu");
            var y = document.getElementById("my_img");
            var div_out = document.getElementById("my_holder");
            
            if (x.style.display == "flex") {
                div_out.animate (
                    [
                        {
                            transform: "translateX(0%)",
                            opacity: 1
                        },
                        {
                            transform: "translateX(100%)",
                            opacity: 0.25
                        }
                    ], 
                    {
                        duration: 400,
                    }
                );
                
                setTimeout(
                    function(){
                        x.style.display = "none";
                    },
                    // miliseconds
                    100
                )
                
            }
            else {
                x.style.display = "flex";
                y.style.backgroundColor = "orange";
            }
        }
    </script>
    
</body>

</html>