<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/income_layout.css') }}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
  <title>Ingreso</title>
  <link rel="shortcut icon" href="/static/css/img/piggy_bank_banking_investment_business_finance_icon_227637.ico">
</head>

<header>
    <div class="header_div">
        <h1>Ingreso de efectivo</h1>
        <div class="menu_header">
            <a href="{{ url_for('home') }}">Balance</a>
            <a href="{{ url_for('bills') }}">Egresos</a>
            <a href="{{ url_for('logout') }}">Salir</a>
        </div>
        <div class="menu_div" id="my_img" onclick="menuClick()">
            <div class="menu_img">
            </div>
        </div>
    </div>
</header>  
  
<body>
    <!-- RESPONSIVE MENU -->
    <div class="extended_main_div" id="my_menu">
        <div class="menu_holder" id="my_holder">
            <div class="extended_menu_links">
                <a id="a_extended" href="{{ url_for('home') }}">Balance</a>
                <a id="a_extended" href="{{ url_for('bills') }}">Egresos</a>
                <a id="a_extended" href="{{ url_for('history') }}">Historial</a>
                <a id="a_extended" href="{{ url_for('logout') }}">Salir</a>
            </div>
        </div>
    </div>
    
    
    <div class="main_elements">
        <div class="main_card">
            <form action="/income" id="income_form" method="post">
                <div class="radio_container">
                    <div class="radio-inputs">
                        <label class="radio">
                            <input type="radio" name="radio" value="ivan" onclick="displayRadioValue()" checked=""/>
                            <span class="name" style="color: black;">Ivan</span>
                        </label>
                        <label class="radio">
                            <input type="radio" name="radio" value="damaris"  onclick="displayRadioValue()"/>
                            <span class="name" style="color: black;">Damaris</span>
                        </label>
                    </div>
                </div>
                
                <div class="cards">
                
                    <div class="card_one" id="ivan">
                        <div class="card_one_data">
                            <input type="number" placeholder="Diezmo" name="diezmo_ivan" id="id_diezmoIvan">
                            <input type="number" placeholder="Despensa" name="despensa">
                            <input type="number" placeholder="Salud" name="salud">
                            <input  type="number" placeholder="Transporte" name="transporte">
                            <input  type="number" placeholder="Internet" name="internet">
                            <input type="number" placeholder="Luz" name="luz">
                            <input type="number" placeholder="Agua" name="agua">
                            <input type="number" placeholder="Gas" name="gas" id="id_garIvan">
                            <button id="save_button" onclick="saveIncomes()">Guardar</button>
                        </div>
                    </div>
                    
                    <div class="card_two" id="damaris" hidden>
                        <div class="card_two_data">
                            <input type="number"  placeholder="Diezmo" name="diezmo_damaris" id="id_diezmoDamaris">
                            <input  type="number" placeholder="Dentista" name="dentista">
                            <input  type="number" placeholder="Saldo" name="saldo">
                            <input type="number"  placeholder="Gasolina" name="gasolina">
                            <input  type="number" placeholder="Renta" name="renta" id="id_rentaDamaris">
                            <button id="save_button" onclick="saveIncomes()">Guardar</button>
                        </div>
                    </div>
                </div>
                <input type="text" name="select_income_form" id="select_income_form_id" hidden>
            </form>
        </div>

        <!-- DATA CHARTS -->
        <div class="main_history">
            <table>
                <tr>
                    <th>
                        <p>2024</p>
                    </th>
                </tr>
                <tr>
                    <td>
                        <div id="div_data">
                            <!-- DATA CARD -->
                            <div id="main_divCard">
                                <div class="datacard_container">
                                    <!-- MONTH LIST -->
                                    <div id="month_list"> 
                                        <ul>
                                            <li class="month" onclick="monthSelecter(this)">Enero</li>
                                            <li class="month" onclick="monthSelecter(this)">Febrero</li>
                                            <li class="month" onclick="monthSelecter(this)">Marzo</li>
                                            <li class="month" onclick="monthSelecter(this)">Abril</li>
                                            <li class="month" onclick="monthSelecter(this)">Mayo</li>
                                            <li class="month" onclick="monthSelecter(this)">Junio</li>
                                            <li class="month" onclick="monthSelecter(this)">Julio</li>
                                            <li class="month" onclick="monthSelecter(this)">Agosto</li>
                                            <li class="month" onclick="monthSelecter(this)">Septiembre</li>
                                            <li class="month" onclick="monthSelecter(this)">Octubre</li>
                                            <li class="month" onclick="monthSelecter(this)">Noviembre</li>
                                            <li class="month" onclick="monthSelecter(this)">Diciembre</li>
                                        </ul>
                                    </div>
                                    <div class="charts_div">
                                        <div id="incomnes_chart">
                                            <canvas id="myChart1" style="width:100%;max-width:600px"></canvas>
                                        </div>
                                        <div id="outflows_chart">
                                            <canvas id="myChart2" style="width:100%;max-width:600px"></canvas>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>
                        <p>2023</p>
                    </th>
                </tr>
                <tr>
                    <td>
                        <div id="div_data">
                            <!-- DATA CARD -->
                            <div id="main_divCard">
                                <div class="datacard_container">
                                    <!-- MONTH LIST -->
                                    <div id="month_list"> 
                                        <ul>
                                            <li class="month" onclick="monthSelecter2(this)">Enero</li>
                                            <li class="month" onclick="monthSelecter2(this)">Febrero</li>
                                            <li class="month" onclick="monthSelecter2(this)">Marzo</li>
                                            <li class="month" onclick="monthSelecter2(this)">Abril</li>
                                            <li class="month" onclick="monthSelecter2(this)">Mayo</li>
                                            <li class="month" onclick="monthSelecter2(this)">Junio</li>
                                            <li class="month" onclick="monthSelecter2(this)">Julio</li>
                                            <li class="month" onclick="monthSelecter2(this)">Agosto</li>
                                            <li class="month" onclick="monthSelecter2(this)">Septiembre</li>
                                            <li class="month" onclick="monthSelecter2(this)">Octubre</li>
                                            <li class="month" onclick="monthSelecter2(this)">Noviembre</li>
                                            <li class="month" onclick="monthSelecter2(this)">Diciembre</li>
                                        </ul>
                                    </div>
                                    <div class="charts_div">
                                        <div id="incomnes_chart">
                                            <canvas id="myChart3" style="width:100%;max-width:600px"></canvas>
                                        </div>
                                        <div id="outflows_chart">
                                            <canvas id="myChart4" style="width:100%;max-width:600px"></canvas>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

    </div>
    
    <script>
        function menuClick() {
            var x = document.getElementById("my_menu");
            var y = document.getElementById("my_img");
            var div_out = document.getElementById("my_holder");
            
            if (x.style.display == "flex") {
                div_out.animate (
                    [
                        {
                            transform: "translateX(0%)",
                            opacity: 1
                        },
                        {
                            transform: "translateX(100%)",
                            opacity: 0.25
                        }
                    ], 
                    {
                        duration: 400,
                    }
                );
                
                setTimeout(
                    function(){
                        x.style.display = "none";
                    },
                    // miliseconds
                    100
                )
                
            }
            else {
                x.style.display = "flex";
                y.style.backgroundColor = "orange";
            }
        }

        function displayRadioValue() {
            var elem = document.getElementsByName(
                "radio"
            );
            
            for (i=0; i<elem.length; i++) {
                if (elem[i].checked) {
                    if (elem[i].value=="ivan") {
                        document.getElementById(
                            "ivan"
                        ).style.display = "block";
                        document.getElementById(
                            "damaris"
                        ).style.display = "none";
                    }
                    else {
                        document.getElementById(
                            "damaris"
                        ).style.display = "block";
                        document.getElementById(
                            "ivan"
                        ).style.display = "none";
                    }
                }
            }
        }

        <!-- SUBMMIT BUTTONS -->
        function saveIncomes() {
            var diezmoIvan = document.getElementById('id_diezmoIvan').value;
            var diezmoDamaris = document.getElementById('id_diezmoDamaris').value;
            
            var elem = document.getElementsByName("radio");
            
            for (i=0; i<elem.length; i++) {
                if (elem[i].checked) {
                    if (elem[i].value=="ivan") {
                        if (diezmoIvan == null || diezmoIvan == ""){
                            alert("Es necesario llenar todos los campos.")
                        }
                    }
                    if (elem[i].value=="damaris") {
                        if (diezmoDamaris == null || diezmoDamaris == ""){
                            alert("Es necesario llenar todos los campos.")
                        }
                    }
                }
                else{
                    document.getElementById('select_income_form_id').value = "incomes";
                    document.getElementById('income_form').submit();
                }
            }
        }

    </script>

    <!-- PIE CHARTS -->
    <script>
        var xYear = document.getElementById('year_1');

        function monthSelecter(x) {
            var myMonth = x.textContent;
            const thisMap = new Map([
                ['Enero', [['Ingreso','Egreso'], [{{ dt[0][1] }},{{ dt[0][2] }}]]],
                ['Febrero', [['Ingreso','Egreso'], [{{ dt[1][1] }},{{ dt[1][2] }}]]],
                ['Marzo', [['Ingreso','Egreso'], [{{ dt[2][1] }},{{ dt[2][2] }}]]],
                ['Abril', [['Ingreso','Egreso'], [{{ dt[3][1] }},{{ dt[3][2] }}]]],
                ['Mayo', [['Ingreso','Egreso'], [{{ dt[4][1] }},{{ dt[4][2] }}]]],
                ['Junio', [['Ingreso','Egreso'], [{{ dt[5][1] }},{{ dt[5][2] }}]]],
                ['Julio', [['Ingreso','Egreso'], [{{ dt[6][1] }},{{ dt[6][2] }}]]],
                ['Agosto', [['Ingreso','Egreso'], [{{ dt[7][1] }},{{ dt[7][2] }}]]],
                ['Septiembre', [['Ingreso','Egreso'], [{{ dt[8][1] }},{{ dt[8][2] }}]]],
                ['Octubre', [['Ingreso','Egreso'], [{{ dt[9][1] }},{{ dt[9][2] }}]]],
                ['Noviembre', [['Ingreso','Egreso'], [{{ dt[10][1] }},{{ dt[10][2] }}]]],
                ['Diciembre', [['Ingreso','Egreso'], [{{ dt[11][1] }},{{ dt[11][2] }}]]]
            ]);

            mainChart.config.data.labels = thisMap.get(myMonth)[0];
            mainChart.config.data.datasets[0].data = thisMap.get(myMonth)[1];

            mainChart.update();

        }
    </script>
    <script>
        var xYear = document.getElementById('year_1');

        function monthSelecter2(x) {
            var myMonth = x.textContent;
            const thisMap = new Map([
                ['Enero', [['Ingreso','Egreso'], [{{ dt[0][3] }},{{ dt[0][4] }}]]],
                ['Febrero', [['Ingreso','Egreso'], [{{ dt[1][3] }},{{ dt[1][4] }}]]],
                ['Marzo', [['Ingreso','Egreso'], [{{ dt[2][3] }},{{ dt[2][4] }}]]],
                ['Abril', [['Ingreso','Egreso'], [{{ dt[3][3] }},{{ dt[3][4] }}]]],
                ['Mayo', [['Ingreso','Egreso'], [{{ dt[4][3] }},{{ dt[4][4] }}]]],
                ['Junio', [['Ingreso','Egreso'], [{{ dt[5][3] }},{{ dt[5][4] }}]]],
                ['Julio', [['Ingreso','Egreso'], [{{ dt[6][3] }},{{ dt[6][4] }}]]],
                ['Agosto', [['Ingreso','Egreso'], [{{ dt[7][3] }},{{ dt[7][4] }}]]],
                ['Septiembre', [['Ingreso','Egreso'], [{{ dt[8][3] }},{{ dt[8][4] }}]]],
                ['Octubre', [['Ingreso','Egreso'], [{{ dt[9][3] }},{{ dt[9][4] }}]]],
                ['Noviembre', [['Ingreso','Egreso'], [{{ dt[10][3] }},{{ dt[10][4] }}]]],
                ['Diciembre', [['Ingreso','Egreso'], [{{ dt[11][3] }},{{ dt[11][4] }}]]]
            ]);

            mainChart2.config.data.labels = thisMap.get(myMonth)[0];
            mainChart2.config.data.datasets[0].data = thisMap.get(myMonth)[1];

            mainChart2.update();

        }
    </script>

    <!-- LINE CHARTS -->
    <script>
        var getInfo = {{ of[0] }}
        var myYvalues = []

        for (var i=0; i < getInfo.length; i++){
            if (getInfo[i] == 0){
                myYvalues.push(null)
            }
            else {
                myYvalues.push(getInfo[i])
            }
        }

        const xValues = ['1','2','3','4','5','6','7','8','9','10','11','12'];
        const yValues = myYvalues;

        new Chart("myChart2", {
            type: "line",
            data: {
                labels: xValues,
                datasets: [{
                fill: false,
                lineTension: 0,
                backgroundColor: "rgba(242, 38, 19)",
                borderColor: "rgba(242, 38, 19, 0.388)",
                data: yValues,
                snapGap: false
                }]
            },
            options: {
                legend: {display: false},
                scales: {
                    yAxes: [{ticks: {max:20000}}],
                    y: {
                        beginAtZero: true
                    }
                },
            }
        });
    </script>
    <script>
        var getInfo2 = {{ of[1] }}
        var myYvalues2 = []

        for (var i=0; i < getInfo2.length; i++){
            if (getInfo2[i] == 0){
                myYvalues2.push(null)
            }
            else {
                myYvalues2.push(getInfo2[i])
            }
        }

        const xValues2 = ['1','2','3','4','5','6','7','8','9','10','11','12'];
        const yValues2 = myYvalues2;

        new Chart("myChart4", {
            type: "line",
            data: {
                labels: xValues2,
                datasets: [{
                fill: false,
                lineTension: 0,
                backgroundColor: "rgba(242, 38, 19)",
                borderColor: "rgba(242, 38, 19, 0.388)",
                data: yValues2
                }]
            },
            options: {
                legend: {display: false},
                scales: {
                    yAxes: [{ticks: {max:20000}}],
                    y: {
                        beginAtZero: true
                    }
                },
            }
        });
    </script>

    <script src="/static/functions.js"></script>
    
</body>

</html>