<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/income_layout.css') }}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <title>Ingreso</title>
  <link rel="shortcut icon" href="/static/css/img/piggy_bank_banking_investment_business_finance_icon_227637.ico">
</head>

<header>
    <div class="header_div">
        <h1>Ingreso de efectivo</h1>
        <div class="menu_header">
            <a href="{{ url_for('home') }}">Balance</a>
            <a href="{{ url_for('bills') }}">Egresos</a>
            <a href="{{ url_for('logout') }}">Salir</a>
        </div>
        <div class="menu_div" id="my_img" onclick="menuClick()">
            <div class="menu_img">
            </div>
        </div>
    </div>
</header>  
  
<body>
    <!-- RESPONSIVE MENU -->
    <div class="extended_main_div" id="my_menu">
        <div class="menu_holder" id="my_holder">
            <div class="extended_menu_links">
                <a id="a_extended" href="{{ url_for('home') }}">Balance</a>
                <a id="a_extended" href="{{ url_for('bills') }}">Egresos</a>
                <a id="a_extended" href="{{ url_for('history') }}">Historial</a>
                <a id="a_extended" href="{{ url_for('logout') }}">Salir</a>
            </div>
        </div>
    </div>
    
    
    <div class="main_elements">
        <div class="main_card">
            <form action="/income" id="income_form" method="post">
                <div class="radio_container">
                    <div class="radio-inputs">
                        <label class="radio">
                            <input type="radio" name="radio" value="ivan" onclick="displayRadioValue()" checked=""/>
                            <span class="name" style="color: black;">Ivan</span>
                        </label>
                        <label class="radio">
                            <input type="radio" name="radio" value="damaris"  onclick="displayRadioValue()"/>
                            <span class="name" style="color: black;">Damaris</span>
                        </label>
                    </div>
                </div>
                
                <div class="cards">
                
                    <div class="card_one" id="ivan">
                        <div class="card_one_data">
                            <input type="number" placeholder="Diezmo" name="diezmo_ivan" id="id_diezmoIvan">
                            <input type="number" placeholder="Despensa" name="despensa" id="id_despensa">
                            <input type="number" placeholder="Salud" name="salud" id="id_salud">
                            <input  type="number" placeholder="Transporte" name="transporte" id="id_transporte">
                            <input  type="number" placeholder="Internet" name="internet" id="id_internet">
                            <input type="number" placeholder="Luz" name="luz" id="id_luz">
                            <input type="number" placeholder="Agua" name="agua" id="id_agua">
                            <input type="number" placeholder="Gas" name="gas" id="id_garIvan">
                            <button id="save_button" onclick="saveIncomes()">Guardar</button>
                        </div>
                    </div>
                    
                    <div class="card_two" id="damaris" hidden>
                        <div class="card_two_data">
                            <input type="number"  placeholder="Diezmo" name="diezmo_damaris" id="id_diezmoDamaris">
                            <input  type="number" placeholder="Dentista" name="dentista" id="id_dentista">
                            <input  type="number" placeholder="Saldo" name="saldo" id="id_saldo">
                            <input type="number"  placeholder="Gasolina" name="gasolina" id="id_gasolina">
                            <input  type="number" placeholder="Renta" name="renta" id="id_rentaDamaris">
                            <button id="save_button" onclick="saveIncomes()">Guardar</button>
                        </div>
                    </div>
                </div>
                <input type="text" name="select_income_form" id="select_income_form_id" hidden>
            </form>
        </div>

        <!-- DATA CHARTS -->
        <div class="main_history">
            <table>
                <tr>
                    <th>
                        <p>2024</p>
                    </th>
                </tr>
                <tr>
                    <td>
                        <div id="div_data">
                            <!-- DATA CARD -->
                            <div id="main_divCard">
                                <div class="datacard_container">
                                    <!-- MONTH LIST -->
                                    <div id="month_list"> 
                                        <ul>
                                            <li class="month" onclick="monthSelecter(this)">Enero</li>
                                            <li class="month" onclick="monthSelecter(this)">Febrero</li>
                                            <li class="month" onclick="monthSelecter(this)">Marzo</li>
                                            <li class="month" onclick="monthSelecter(this)">Abril</li>
                                            <li class="month" onclick="monthSelecter(this)">Mayo</li>
                                            <li class="month" onclick="monthSelecter(this)">Junio</li>
                                            <li class="month" onclick="monthSelecter(this)">Julio</li>
                                            <li class="month" onclick="monthSelecter(this)">Agosto</li>
                                            <li class="month" onclick="monthSelecter(this)">Septiembre</li>
                                            <li class="month" onclick="monthSelecter(this)">Octubre</li>
                                            <li class="month" onclick="monthSelecter(this)">Noviembre</li>
                                            <li class="month" onclick="monthSelecter(this)">Diciembre</li>
                                        </ul>
                                    </div>
                                    <div class="charts_div">
                                        <div id="incomnes_chart">
                                            <canvas id="myChart1" style="width:100%;max-width:600px"></canvas>
                                        </div>
                                        <div id="outflows_chart">
                                            <div id="myPlot" style="width:100%;max-width:700px"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>
                        <p>2023</p>
                    </th>
                </tr>
                <tr>
                    <td>
                        <div id="div_data">
                            <!-- DATA CARD -->
                            <div id="main_divCard">
                                <div class="datacard_container">
                                    <!-- MONTH LIST -->
                                    <div id="month_list"> 
                                        <ul>
                                            <li class="month" onclick="monthSelecter2(this)">Enero</li>
                                            <li class="month" onclick="monthSelecter2(this)">Febrero</li>
                                            <li class="month" onclick="monthSelecter2(this)">Marzo</li>
                                            <li class="month" onclick="monthSelecter2(this)">Abril</li>
                                            <li class="month" onclick="monthSelecter2(this)">Mayo</li>
                                            <li class="month" onclick="monthSelecter2(this)">Junio</li>
                                            <li class="month" onclick="monthSelecter2(this)">Julio</li>
                                            <li class="month" onclick="monthSelecter2(this)">Agosto</li>
                                            <li class="month" onclick="monthSelecter2(this)">Septiembre</li>
                                            <li class="month" onclick="monthSelecter2(this)">Octubre</li>
                                            <li class="month" onclick="monthSelecter2(this)">Noviembre</li>
                                            <li class="month" onclick="monthSelecter2(this)">Diciembre</li>
                                        </ul>
                                    </div>
                                    <div class="charts_div">
                                        <div id="incomnes_chart">
                                            <canvas id="myChart3" style="width:100%;max-width:600px"></canvas>
                                        </div>
                                        <div id="outflows_chart">
                                            <div id="myPlot2" style="width:100%;max-width:700px"></div>                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

    </div>
    
    <script>
        function menuClick() {
            var x = document.getElementById("my_menu");
            var y = document.getElementById("my_img");
            var div_out = document.getElementById("my_holder");
            
            if (x.style.display == "flex") {
                div_out.animate (
                    [
                        {
                            transform: "translateX(0%)",
                            opacity: 1
                        },
                        {
                            transform: "translateX(100%)",
                            opacity: 0.25
                        }
                    ], 
                    {
                        duration: 400,
                    }
                );
                
                setTimeout(
                    function(){
                        x.style.display = "none";
                    },
                    // miliseconds
                    100
                )
                
            }
            else {
                x.style.display = "flex";
                y.style.backgroundColor = "orange";
            }
        }

        function displayRadioValue() {
            var elem = document.getElementsByName(
                "radio"
            );
            
            for (i=0; i<elem.length; i++) {
                if (elem[i].checked) {
                    if (elem[i].value=="ivan") {
                        document.getElementById(
                            "ivan"
                        ).style.display = "block";
                        document.getElementById(
                            "damaris"
                        ).style.display = "none";
                    }
                    else {
                        document.getElementById(
                            "damaris"
                        ).style.display = "block";
                        document.getElementById(
                            "ivan"
                        ).style.display = "none";
                    }
                }
            }
        }

        // <!-- SUBMMIT BUTTONS -->
        function saveIncomes() {
            var diezmoIvan = document.getElementById('id_diezmoIvan').value;
            var diezmoDamaris = document.getElementById('id_diezmoDamaris').value;
            
            var elem = document.getElementsByName("radio");
            
            for (i=0; i<elem.length; i++) {
                if (elem[i].checked) {
                    if (elem[i].value=="ivan") {
                        if (diezmoIvan == null || diezmoIvan == ""){
                            alert("Es necesario llenar todos los campos.")
                        }
                    }
                    if (elem[i].value=="damaris") {
                        if (diezmoDamaris == null || diezmoDamaris == ""){
                            alert("Es necesario llenar todos los campos.")
                        }
                    }
                }
                else{
                    document.getElementById('select_income_form_id').value = "incomes";
                    document.getElementById('income_form').submit();
                }
            }
        }

    </script>
    
    <!-- EMPTY FIELDS -->
     <script>
        var idList = ["id_diezmoIvan","id_despensa","id_salud","id_transporte","id_internet","id_luz","id_agua","id_garIvan",
                        "id_diezmoDamaris","id_dentista","id_saldo","id_gasolina","id_rentaDamaris"]
        for (i=0; i < idList.length; i++) {

            const myInput = document.getElementById(idList[i]);

            myInput.addEventListener("input", () =>{
                if (myInput.value.length > 0){
                    myInput.style.borderColor = "#66FF00";
                }
                else {
                    myInput.style.borderColor = "red";
                }
            });
        }
     </script>

    <!-- PIE CHARTS -->
    <script>
        var xYear = document.getElementById('year_1');

        function monthSelecter(x) {
            var myMonth = x.textContent;
            const thisMap = new Map([
                ['Enero', [['Ingreso','Egreso'], [{{ dt[0][1] }},{{ dt[0][2] }}]]],
                ['Febrero', [['Ingreso','Egreso'], [{{ dt[1][1] }},{{ dt[1][2] }}]]],
                ['Marzo', [['Ingreso','Egreso'], [{{ dt[2][1] }},{{ dt[2][2] }}]]],
                ['Abril', [['Ingreso','Egreso'], [{{ dt[3][1] }},{{ dt[3][2] }}]]],
                ['Mayo', [['Ingreso','Egreso'], [{{ dt[4][1] }},{{ dt[4][2] }}]]],
                ['Junio', [['Ingreso','Egreso'], [{{ dt[5][1] }},{{ dt[5][2] }}]]],
                ['Julio', [['Ingreso','Egreso'], [{{ dt[6][1] }},{{ dt[6][2] }}]]],
                ['Agosto', [['Ingreso','Egreso'], [{{ dt[7][1] }},{{ dt[7][2] }}]]],
                ['Septiembre', [['Ingreso','Egreso'], [{{ dt[8][1] }},{{ dt[8][2] }}]]],
                ['Octubre', [['Ingreso','Egreso'], [{{ dt[9][1] }},{{ dt[9][2] }}]]],
                ['Noviembre', [['Ingreso','Egreso'], [{{ dt[10][1] }},{{ dt[10][2] }}]]],
                ['Diciembre', [['Ingreso','Egreso'], [{{ dt[11][1] }},{{ dt[11][2] }}]]]
            ]);

            mainChart.config.data.labels = thisMap.get(myMonth)[0];
            mainChart.config.data.datasets[0].data = thisMap.get(myMonth)[1];

            mainChart.update();

            const mList = new Map([
                ['Enero',[{{current[11]}},{{current[10]}},{{current[9]}},{{current[8]}},{{current[7]}},{{current[6]}}, 
                        {{current[5]}},{{current[4]}},{{current[3]}},{{current[2]}},{{current[1]}},{{current[0]}}]],      

                ['Febrero',[{{current[23]}},{{current[22]}},{{current[21]}},{{current[20]}},{{current[19]}},{{current[18]}},
                        {{current[17]}},{{current[16]}},{{current[15]}},{{current[14]}},{{current[13]}},{{current[12]}}]],
                
                ['Marzo',[{{current[35]}},{{current[34]}},{{current[33]}},{{current[32]}},{{current[31]}},{{current[30]}},
                        {{current[29]}},{{current[28]}},{{current[27]}},{{current[26]}},{{current[25]}},{{current[24]}}]],

                ['Abril',[{{current[47]}},{{current[46]}},{{current[45]}},{{current[44]}},{{current[43]}},{{current[42]}},
                        {{current[41]}},{{current[40]}},{{current[39]}},{{current[38]}},{{current[37]}},{{current[36]}}]],

                ['Mayo',[{{current[59]}},{{current[58]}},{{current[57]}},{{current[56]}},{{current[55]}},{{current[54]}},
                        {{current[53]}},{{current[52]}},{{current[51]}},{{current[50]}},{{current[49]}},{{current[48]}}]],

                ['Junio',[{{current[71]}},{{current[70]}},{{current[69]}},{{current[68]}},{{current[67]}},{{current[66]}},
                        {{current[65]}},{{current[64]}},{{current[63]}},{{current[62]}},{{current[61]}},{{current[60]}}]],

                ['Julio',[{{current[83]}},{{current[82]}},{{current[81]}},{{current[80]}},{{current[79]}},{{current[78]}},
                        {{current[77]}},{{current[76]}},{{current[75]}},{{current[74]}},{{current[73]}},{{current[72]}}]],

                ['Agosto',[{{current[95]}},{{current[94]}},{{current[93]}},{{current[92]}},{{current[91]}},{{current[90]}},
                        {{current[89]}},{{current[88]}},{{current[87]}},{{current[86]}},{{current[85]}},{{current[84]}}]],

                ['Septiembre',[{{current[107]}},{{current[106]}},{{current[105]}},{{current[104]}},{{current[103]}},{{current[102]}},
                        {{current[101]}},{{current[100]}},{{current[99]}},{{current[98]}},{{current[97]}},{{current[96]}}]],

                ['Octubre',[{{current[119]}},{{current[118]}},{{current[117]}},{{current[116]}},{{current[115]}},{{current[114]}},
                        {{current[113]}},{{current[112]}},{{current[111]}},{{current[110]}},{{current[109]}},{{current[108]}}]],

                ['Noviembre',[{{current[131]}},{{current[130]}},{{current[129]}},{{current[128]}},{{current[127]}},{{current[126]}},
                        {{current[125]}},{{current[124]}},{{current[123]}},{{current[122]}},{{current[121]}},{{current[120]}}]],

                ['Diciembre',[{{current[143]}},{{current[142]}},{{current[141]}},{{current[140]}},{{current[139]}},{{current[138]}},
                        {{current[137]}},{{current[136]}},{{current[135]}},{{current[134]}},{{current[133]}},{{current[132]}}]]
            ]);

            // console.log(mList.get(myMonth))
            
            const myUpdate = {
                x: [mList.get(myMonth)]
            };

            Plotly.update("myPlot", myUpdate);

        }
    </script>

    <script>
        var xYear = document.getElementById('year_1');

        function monthSelecter2(x) {
            var myMonth = x.textContent;
            const thisMap = new Map([
                ['Enero', [['Ingreso','Egreso'], [{{ dt[0][3] }},{{ dt[0][4] }}]]],
                ['Febrero', [['Ingreso','Egreso'], [{{ dt[1][3] }},{{ dt[1][4] }}]]],
                ['Marzo', [['Ingreso','Egreso'], [{{ dt[2][3] }},{{ dt[2][4] }}]]],
                ['Abril', [['Ingreso','Egreso'], [{{ dt[3][3] }},{{ dt[3][4] }}]]],
                ['Mayo', [['Ingreso','Egreso'], [{{ dt[4][3] }},{{ dt[4][4] }}]]],
                ['Junio', [['Ingreso','Egreso'], [{{ dt[5][3] }},{{ dt[5][4] }}]]],
                ['Julio', [['Ingreso','Egreso'], [{{ dt[6][3] }},{{ dt[6][4] }}]]],
                ['Agosto', [['Ingreso','Egreso'], [{{ dt[7][3] }},{{ dt[7][4] }}]]],
                ['Septiembre', [['Ingreso','Egreso'], [{{ dt[8][3] }},{{ dt[8][4] }}]]],
                ['Octubre', [['Ingreso','Egreso'], [{{ dt[9][3] }},{{ dt[9][4] }}]]],
                ['Noviembre', [['Ingreso','Egreso'], [{{ dt[10][3] }},{{ dt[10][4] }}]]],
                ['Diciembre', [['Ingreso','Egreso'], [{{ dt[11][3] }},{{ dt[11][4] }}]]]
            ]);

            mainChart2.config.data.labels = thisMap.get(myMonth)[0];
            mainChart2.config.data.datasets[0].data = thisMap.get(myMonth)[1];

            mainChart2.update();


            const mList2 = new Map([
                ['Enero',[{{past[11]}},{{past[10]}},{{past[9]}},{{past[8]}},{{past[7]}},{{past[6]}}, 
                        {{past[5]}},{{past[4]}},{{past[3]}},{{past[2]}},{{past[1]}},{{past[0]}}]],      

                ['Febrero',[{{past[23]}},{{past[22]}},{{past[21]}},{{past[20]}},{{past[19]}},{{past[18]}},
                        {{past[17]}},{{past[16]}},{{past[15]}},{{past[14]}},{{past[13]}},{{past[12]}}]],
                
                ['Marzo',[{{past[35]}},{{past[34]}},{{past[33]}},{{past[32]}},{{past[31]}},{{past[30]}},
                        {{past[29]}},{{past[28]}},{{past[27]}},{{past[26]}},{{past[25]}},{{past[24]}}]],

                ['Abril',[{{past[47]}},{{past[46]}},{{past[45]}},{{past[44]}},{{past[43]}},{{past[42]}},
                        {{past[41]}},{{past[40]}},{{past[39]}},{{past[38]}},{{past[37]}},{{past[36]}}]],

                ['Mayo',[{{past[59]}},{{past[58]}},{{past[57]}},{{past[56]}},{{past[55]}},{{past[54]}},
                        {{past[53]}},{{past[52]}},{{past[51]}},{{past[50]}},{{past[49]}},{{past[48]}}]],

                ['Junio',[{{past[71]}},{{past[70]}},{{past[69]}},{{past[68]}},{{past[67]}},{{past[66]}},
                        {{past[65]}},{{past[64]}},{{past[63]}},{{past[62]}},{{past[61]}},{{past[60]}}]],

                ['Julio',[{{past[83]}},{{past[82]}},{{past[81]}},{{past[80]}},{{past[79]}},{{past[78]}},
                        {{past[77]}},{{past[76]}},{{past[75]}},{{past[74]}},{{past[73]}},{{past[72]}}]],

                ['Agosto',[{{past[95]}},{{past[94]}},{{past[93]}},{{past[92]}},{{past[91]}},{{past[90]}},
                        {{past[89]}},{{past[88]}},{{past[87]}},{{past[86]}},{{past[85]}},{{past[84]}}]],

                ['Septiembre',[{{past[107]}},{{past[106]}},{{past[105]}},{{past[104]}},{{past[103]}},{{past[102]}},
                        {{past[101]}},{{past[100]}},{{past[99]}},{{past[98]}},{{past[97]}},{{past[96]}}]],

                ['Octubre',[{{past[119]}},{{past[118]}},{{past[117]}},{{past[116]}},{{past[115]}},{{past[114]}},
                        {{past[113]}},{{past[112]}},{{past[111]}},{{past[110]}},{{past[109]}},{{past[108]}}]],

                ['Noviembre',[{{past[131]}},{{past[130]}},{{past[129]}},{{past[128]}},{{past[127]}},{{past[126]}},
                        {{past[125]}},{{past[124]}},{{past[123]}},{{past[122]}},{{past[121]}},{{past[120]}}]],

                ['Diciembre',[{{past[143]}},{{past[142]}},{{past[141]}},{{past[140]}},{{past[139]}},{{past[138]}},
                        {{past[137]}},{{past[136]}},{{past[135]}},{{past[134]}},{{past[133]}},{{past[132]}}]]
            ]);

            console.log(mList2.get(myMonth))
            
            const myUpdate2 = {
                x: [mList2.get(myMonth)]
            };

            Plotly.update("myPlot2", myUpdate2);

        }
    </script>

    <!-- LINE CHARTS -->
    <script>
        var getInfo = {{ of[0] }}
        var myYvalues = []

        for (var i=0; i < getInfo.length; i++){
            if (getInfo[i] == 0){
                myYvalues.push(null)
            }
            else {
                myYvalues.push(getInfo[i])
            }
        }

        const xValues = ['1','2','3','4','5','6','7','8','9','10','11','12'];
        const yValues = myYvalues;

        new Chart("myChart2", {
            type: "line",
            data: {
                labels: xValues,
                datasets: [{
                fill: false,
                lineTension: 0,
                backgroundColor: "rgba(242, 38, 19)",
                borderColor: "rgba(242, 38, 19, 0.388)",
                data: yValues,
                snapGap: false
                }]
            },
            options: {
                legend: {display: false},
                scales: {
                    yAxes: [{ticks: {max:20000}}],
                    y: {
                        beginAtZero: true
                    }
                },
            }
        });
    </script>

    <script>
        var getInfo2 = {{ of[1] }}
        var myYvalues2 = []

        for (var i=0; i < getInfo2.length; i++){
            if (getInfo2[i] == 0){
                myYvalues2.push(null)
            }
            else {
                myYvalues2.push(getInfo2[i])
            }
        }

        const xValues2 = ['1','2','3','4','5','6','7','8','9','10','11','12'];
        const yValues2 = myYvalues2;

        new Chart("myChart4", {
            type: "line",
            data: {
                labels: xValues2,
                datasets: [{
                fill: false,
                lineTension: 0,
                backgroundColor: "rgba(242, 38, 19)",
                borderColor: "rgba(242, 38, 19, 0.388)",
                data: yValues2
                }]
            },
            options: {
                legend: {display: false},
                scales: {
                    yAxes: [{ticks: {max:20000}}],
                    y: {
                        beginAtZero: true
                    }
                },
            }
        });
    </script>

    <!-- BAR CHARTS -->
    <script>
        const xArray = new Map([
            ['Enero',[0,0,0,0,0,0,0,0,0,0,0,0]]
        ]);
        const yArray = ['Renta','Gasolina','Saldo','Dent','Gas','Agua','Luz','Inter','Transp','Salud','Desp','Diezmo'];

        const data = [{
        x:xArray.get('Enero'),
        y:yArray,
        type:"bar",
        orientation:"h",
        marker: {color:"rgba(178,222,39,0.6)"}
        }];
        const layout = {
            xaxis: {rangemode: 'nonnegative'}
        };

        Plotly.newPlot("myPlot", data, layout);
    </script>

    <script>
        const xArray2 = new Map([
            ['Enero',[0,0,0,0,0,0,0,0,0,0,0,0]]
        ]);
        const yArray2 = ['Renta','Gasolina','Saldo','Dent','Gas','Agua','Luz','Inter','Transp','Salud','Desp','Diezmo'];

        const data2 = [{
        x:xArray2.get('Enero'),
        y:yArray2,
        type:"bar",
        orientation:"h",
        marker: {color:"rgba(178,222,39,0.6)"}
        }];
        const layout2 = {
            xaxis: {rangemode: 'nonnegative'}
        };

        Plotly.newPlot("myPlot2", data2, layout2);
    </script>

    <script src="/static/functions.js"></script>
    
</body>

</html>