<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index_layout.css') }}">
    <title>Login</title>
    <link rel="shortcut icon" href="/static/css/img/piggy_bank_banking_investment_business_finance_icon_227637.ico">
</head>
<body>
    <form action="/" method="post">
        <div class="div_body">
            <div class="main_div_login">
                <div class="div_login">
                    <p>Login</p>
                    <input id="input1" name="input_1" placeholder="Usuario" type="text">
                    <br>
                    <input id="input2" name="input_2" placeholder="Contraseña" type="password">
                    <br>
                    <div class="div_button">
                        <button type="submit">Entrar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    {% if message %}
        <script>
            alert('{{ message }}')
        </script>
    {% endif %}

</body>
</html>